<h1> What Muscle Group(s) would you like to workout?</h1>


<%= form_for :muscle_groups, :url => {:action => "create"} do |f| %>

<ul>
  <% @workout_types.each do |workout_type| %>
    <h3> <%= workout_type.name %> </h3>
        <% workout_type.muscle_groups.each do |muscle_group| %>
         <li><%= check_box_tag "ms_id[]", muscle_group.id %>
          <%= f.label muscle_group.name %></li>

        <% end %>

  <% end %>
  <%= f.submit "Submit" %>
  <% end %>
</ul>


