<header>
  <% if current_user %>
    <%= link_to "logout", logout_path, method: :delete %>
  <% else %>
    <span><%= link_to "login", login_path%> | <%= link_to "register", new_user_path %></span>
  <% end %>
</header>

<h1> ADAPTIFIT </h1>


<h2> What equipment is available to you? </h2>
<%= form_for :equipments do |f| %>

  <% @equipments.each do |equipment| %>
    <%= f.label equipment.name %>
    <%= check_box_tag "eq_id[]", equipment.id %>
    <br>
  <% end%>
  <%= f.submit "Submit" %>
<% end %>

